<div class="row">
  <div class="col-sm-9">

    <div class="post_wrapper">

        <h1 style="font-family: 'Poiret One', cursive; color: black;">

          <%= @post.title %>  
        </h1>
    </div>
    <br>
    <div class="row">

      <div class="col-xs-8 col-sm-6">
        <div class="post_wrapper">

            <!--image_tag @location.image_url(:thumb).to_s -->
            <!--image_tag @location.image_url.to_s -->
            <%= link_to (image_tag @post.image_url(:thumb)) %>

            
        </div>

        
        
      </div>

      <div class="col-xs-4 col-sm-6">

        <div class="post_wrapper">
           <p style="font-family: 'Playball', cursive; color: black; font-size: 25px;">
              <%= @post.body %>
            </p>
          
          <p><%= link_to 'Back', posts_path %></p>
          <p><%= link_to 'Edit', edit_post_path(@post) %></p>
          <p><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %></p>




        </div>
      </div>

    </div>
    <br>

  </div>
</div>



