<%= simple_form_for@location, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :image %><br>
    <%= f.file_field :image, label: 'add image' %>
    <%= f.label :or_image_url %><br>
    <%= f.text_field :image_url %>

    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
