<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1 style="font-family: 'Spectral SC', serif;">Events</h1>

  </div>
  <div class="col-xs-6 col-md-4">

     <h1 style="font-family: 'Spectral SC', serif;">Locations</h1>

    <%= form_tag locations_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <p style="font-family: 'Spectral SC', serif;"><%= submit_tag "Search Near", :name => nil %></p>
      </p>
    <% end %>

  </div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<% @locations.each do |location| %>
        <div class="row">
         <div class="col-xs-8 col-sm-6"> 
          <div class="post_wrapper">
            
              <a><%= link_to (image_tag location.image_url(:thumb)).to_s %></a>

              <h2 class="title"><%= link_to location.title, location %></h2>
              <!--location.title -->
              <p class="body"><%= truncate(location.body, length:500) %></p>
              <!--location.body -->
              <p class="date"><%= time_ago_in_words(location.created_at) %></p>
              
            </div>
            <br>
          </div>

          <div class="col-xs-4 col-sm-6">
            <div class="post_wrapper">
               <%= image_tag("http://maps.google.com/maps/api/staticmap?size=550x350&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}")  %>

              <p class="address"><%= location.address %></p>
              <!--location.address -->
              <p class="location"><%= location.latitude %></p>
              <!--location.latitude-->
              <p class="location"><%= location.longitude %></p>
              <!--location.longitude-->
           </div>
          </div>
        </div>
        <% end %>