<div class="row">
  <div class="col-sm-9">

    <div class="post_wrapper">
        ....
    </div>
    <br>
    <div class="row">

      <div class="col-xs-8 col-sm-6">
        <div class="post_wrapper">

            <!--image_tag @location.image_url(:thumb).to_s -->
            <!--image_tag @location.image_url.to_s -->
            <%= link_to (image_tag @location.image_url(:thumb)) %>
            
            <h1 style="font-family: 'Poiret One', cursive; color: black;">

               <%= @location.title %>  
            </h1>
            <p style="font-family: 'Poiret One', cursive; color: black;; color: black; font-size: 25px;">
              <%= @location.body %>
            </p>

          <p><%= link_to 'Edit', edit_location_path(@location) %></p>
          <p><%= link_to 'Delete', location_path(@location), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>

        
        
      </div>

      <div class="col-xs-4 col-sm-6">

        <div class="post_wrapper">

            <%= image_tag("http://maps.google.com/maps/api/staticmap?size=550x400&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" ) %>
              
          
              <ul style="font-family: 'Poiret One', cursive; color: green;">
               <li><%= @location.address %></li>
               <li><%= @location.latitude %></li>
               <li><%= @location.longitude %></li>
              </ul>



        </div>
      </div>

    </div>
    <br>
    <div class="post_wrapper">
     
       <h1 style="font-family: 'Poiret One', cursive; color: black;">
         Nearbys Locations
       </h1>

        <ul>
        <% for location in @location.nearbys(20) %>
        <ul>
           <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
        </ul>
        <% end %>
        </ul>
    </div>
  </div>
</div>















