<!DOCTYPE html>
<html>
  <head>
    <title>GastroLatest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Poiret+One" %><!--font-family: 'Poiret One', cursive;-->
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Playball" %><!--font-family: 'Playball', cursive;-->
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Spectral+SC" %><!--font-family: 'Spectral SC', serif;-->


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <%= render 'layouts/navigation' %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
